body{
    /*mudar a cor do fundo*/
    background-color: orangered;
    margin: 0;
    color: white;
}

.search-bar {
    background-color: orangered;
    margin: 0 auto;
    padding: 0 10px;
    height: 2%;
}

.search {
    float: right;
    margin-top: 8px;
}

.nav-bar {
    height: 5%;
    background-color: rgb(51, 51, 51);
}

.nav-bar img {
    margin-top: 8px;
}

.nav-bar ul li{
    display: inline-flex;
    float: right;
    color: white;
    padding: 20px;
    font-size: 17px;
    margin-top: -8px;
}

.mid-bar {
    background-color: orangered;
}

.mid-bar img {    
    margin-left: 10%;
    vertical-align: top;
    margin-top: -90px;
    border: solid 1px white;
}